# Go
*.exe
*.test
/server

# Frontend
web/node_modules/
internal/webapp/dist/*
!internal/webapp/dist/index.html

# Docs
docs/node_modules/
docs/build/
docs/.docusaurus/

# Env / local
.env
*.local

# OS
.DS_Store
Thumbs.db
